.dato {
    display: inline !important;
}

.mod {
    margin-left: 1rem;
}

.btnpdf {
    background-color: #9D30AE !important;
    border-color: #9D30AE !important;
}

.img-resumen {
    width: 400px;
    height: 400px;
}