<div class="login-wrapper" [ngStyle]="estilos">
    <div *ngIf="title === 'Login'">
        <form novalidate class="login" [formGroup]="authForm" novalidate (ngSubmit)="onSubmit()">
            <!-- {{this.authForm.value | json}} -->
            <section class="title">
                <h3 class="welcome">Bienvenido | {{title}} de usuario</h3>
                <hr>
                <h3>Administrador de materiales</h3>
            </section>
            <div class="login-group">
                <input formControlName="email" class="username" type="text" id="login_username" placeholder="Correo">
                <input formControlName="password" class="password" type="password" id="login_password" placeholder="Contraseña">
                <clr-alert [clrAlertType]="'alert-danger'" *ngIf="!closed" (clrAlertClosedChange)="closed=true">
                    <div clr-alert-item class="alert-item">
                        <span class="alert-text">
                            Usuario o contraseña incorrectos.
                        </span>
                    </div>
                </clr-alert>
                <button type="submit" [disabled]="!authForm.valid" class="btn btn-primary">{{title}}</button>
                <a [routerLink]="['/signup']" class="signup">Crea una cuenta aquí</a>
                <!-- <a *ngIf="title === 'Signup'" [routerLink]="['/login']" class="signup">Tengo una cuenta</a> -->
            </div>
        </form>
    </div>

    <div *ngIf="title === 'Signup'">
        <form ngNativeValidate class="login" [formGroup]="authFormSignup" (ngSubmit)="onSubmit()">
            <!-- {{this.authFormSignup.value | json}} -->
            <section class="title">
                <h3 class="welcome">Bienvenido | Registro de usuario</h3>
                <hr>
                <h3>Administrador de materiales</h3>
            </section>
            <div class="login-group">
                <input formControlName="nombre" class="username" type="text" id="nombre" placeholder="Nombre">
                <input formControlName="apellido" class="username" type="text" id="apellido" placeholder="Apellido">
                <input formControlName="email" class="username" type="text" id="login_username" placeholder="Correo">
                <input formControlName="password" class="password" type="password" id="login_password" placeholder="Contraseña">
                <input formControlName="password2" class="password" type="password" id="login_password2" placeholder="Confirma tu contraseña">
                <clr-alert [clrAlertType]="'alert-danger'" *ngIf="!closed" (clrAlertClosedChange)="closed=true">
                    <div clr-alert-item class="alert-item">
                        <span class="alert-text">
                            Este correo electrónico ya esta en uso, por favor utiliza otro correo.
                        </span>
                    </div>
                </clr-alert>
                <clr-alert [clrAlertType]="'alert-warning'" *ngIf="authFormSignup['errors']?.sonIguales && !authFormSignup.pristine" (clrAlertClosedChange)="closed=true">
                    <div clr-alert-item class="alert-item">
                        <span class="alert-text">
                            Las contraseñas no coinciden.
                        </span>
                    </div>
                </clr-alert>
                <button type="submit" [disabled]="!authFormSignup.valid" class="btn btn-primary">Registrar cuenta</button>
                <a [routerLink]="['/login']" class="signup">Tengo una cuenta</a>
                <!-- <a *ngIf="title === 'Signup'" [routerLink]="['/login']" class="signup">Tengo una cuenta</a> -->
            </div>
        </form>
    </div>

</div>