<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <a [routerLink]="[ '/panel/usuarios']" class="card1 text-center clickable">
            <div class="card-block">
                <div class="card-header arriba">
                    <clr-icon shape="users" class="is-solid" size="48"></clr-icon>
                </div>
                <div class="card-header centro">
                    Usuarios

                </div>

                <div class="card-header abajo">
                    Total de registros: 234
                </div>

            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <a [routerLink]="[ '/panel/lugares']" class="card2 text-center clickable">
            <div class="card-block">
                <div class="card-header arriba">
                    <clr-icon shape="map-marker" class="is-solid" size="48"></clr-icon>
                </div>
                <div class="card-header centro">
                    Lugares

                </div>

                <div class="card-header abajo">
                    Total de registros: 19
                </div>

            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <a [routerLink]="[ '/panel/materiales']" class="card3 text-center clickable">
            <div class="card-block">
                <div class="card-header arriba">
                    <clr-icon shape="wrench" class="is-solid" size="48"></clr-icon>
                </div>
                <div class="card-header centro">
                    Materiales

                </div>

                <div class="card-header abajo">
                    Total de registros: 723
                </div>

            </div>
        </a>
    </div>
</div>