<div class="row">
    <div class="col-lg-8 clr-offset-lg-2 col-md-8 clr-offset-md-2 col-sm-12 col-xs-12">

        <div class="card-entidad">
            <div class="card-header">
                <div class="row">
                    <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 title-entidad">Lugar </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">

                        <button class="btn btn-primary btn-icon" (click)="returnLugares()">
                            <clr-icon shape="undo" style="margin-right: 5px">
                            </clr-icon>Regresar
                        </button>
                    </div>
                </div>

            </div>
            <div class="card-block">

                <div class="spin text-center" *ngIf="cargando">
                    <span class="spinner spinner-md">
                    </span> <br> <br> Guardando datos ...
                </div>
                <!-- <clr-icon shape="search" size="24" class="buscar-input-ico"></clr-icon>
                <input type="text" class="buscar-input" placeholder="Buscar lugar"> -->
                <!-- <div class="spin text-center">
                    <span class="spinner spinner-md">
                    </span> <br> <br> Cargando datos ...
                </div> -->

                <div class="card-title" style="overflow-y: 0" *ngIf="!cargando">

                    <!-- Formulario del nuevo lugar -->
                    <form class="clr-form" #f="ngForm" (ngSubmit)="registrarLugar(f)">
                        <!-- {{this.exampleForm.value | json}} -->
                        <clr-input-container>
                            <input clrInput type="text" [(ngModel)]="lugar.nombre" name="nombre" placeholder="Nombre" required />
                            <clr-control-helper><strong>Escribe un nombre para el lugar.</strong> </clr-control-helper>
                            <clr-control-error><strong>El nombre del lugar es necesario, por favor escribe un nombre.</strong></clr-control-error>
                        </clr-input-container>

                        <clr-input-container>

                            <input clrInput type="text" [(ngModel)]="lugar.direccion" name="direccion" placeholder="Dirección" />
                            <clr-control-helper><strong>Escribe la dirección del lugar.</strong> </clr-control-helper>
                            <clr-control-error><strong>La dirección del lugar es necesaria, por favor escribe una dirección.</strong></clr-control-error>

                        </clr-input-container>


                        <div class="clr-form-control clr-row">
                            <div class="clr-control-container clr-col-xs-12 clr-col-md-12">
                                <div class="clr-input-wrapper">
                                    <input type="file" id="example" accept=".JPG,.jpg,.PNG,.png,.JPEG,.jpeg" placeholder="Example Input" class="btn btn-outline boton" (change)="seleccionImage($event.target.files[0])" [(ngModel)]="this.sub" [ngModelOptions]="{standalone: true}">
                                    <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                                </div>
                                <clr-control-helper class="he"> <strong>Elije una imagen para este lugar.</strong> </clr-control-helper>
                            </div>
                            <div *ngIf="!lugar._id">
                                <img *ngIf="!imagenTem" [src]="'imagen' | imagen" class="imagen">
                                <img *ngIf="imagenTem" [src]="imagenTem" class="imagen">
                            </div>
                            <br>
                            <div *ngIf="lugar._id">
                                <div class="spin text-center" *ngIf="cargandoImagen">
                                    <span class="spinner spinner-md">
                                        </span> <br> <br> Cargando imagen ...
                                </div>
                                <img *ngIf="!imagenTem" [src]="lugar.img | imagen: 'lugar'" class="imagen">
                                <img *ngIf="imagenTem" [src]="imagenTem" class="imagen">
                            </div>
                            <br>
                        </div>


                        <button type="submit" class="btn btn-primary btn-icon"><clr-icon shape="floppy"  style="margin-right: 5px"></clr-icon>Guardar</button>
                        <a (click)="returnLugares()" class="btn btn-danger btn-icon">
                            <clr-icon shape="times" style="margin-right: 5px"></clr-icon>Cancelar</a>


                    </form>

                </div>
            </div>
        </div>
    </div>
</div>