<div class="row">
    <ng-snotify class="{{style}}"></ng-snotify>
    <div class="col-lg-8 clr-offset-lg-2 col-md-8 clr-offset-md-2 col-sm-12 col-xs-12">

        <div class="card-entidad">
            <div class="card-header">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 title-entidad">Materiales</div>
                    <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">

                        <button class="btn btn-success btn-icon" [routerLink]="['/panel/materiales', 'nuevo']" routerLinkActive="router-link-active">
                            <clr-icon shape="plus" style="margin-right: 5px">
                            </clr-icon>Nuevo material
                        </button>
                        <button (click)="generaPDF()" class="btn btn-primary btn-icon btnpdf" *ngIf="dataMateriales.length > 0">
                        <clr-icon shape="file" style="margin-right: 5px">
                        </clr-icon>Generar reporte
                    </button>
                    </div>
                </div>

            </div>
            <div class="card-block">

                <clr-icon shape="search" size="24" class="buscar-input-ico"></clr-icon>
                <input #input (keyup)="buscarMaterial(input.value)" type="text" class="buscar-input" placeholder="Buscar material">
                <div class="spin text-center" *ngIf="cargando">
                    <span class="spinner spinner-md">
                    </span> <br> <br> Cargando datos ...
                </div>

                <div class="card-title" style="overflow-y: 0">

                    <clr-datagrid style="height: auto" class="datagrid-compact">
                        <clr-dg-column>Imagen</clr-dg-column>
                        <clr-dg-column>Nombre</clr-dg-column>
                        <clr-dg-column>Estado</clr-dg-column>
                        <clr-dg-column>Cantidad </clr-dg-column>
                        <clr-dg-column>Ultima modificación</clr-dg-column>
                        <clr-dg-placeholder>No se encontraron materiales</clr-dg-placeholder>
                        <clr-dg-row *clrDgItems="let material of dataMateriales" [clrDgItem]="material">
                            <clr-dg-action-overflow>
                                <button class="action-item" (click)="onEdit(material)"><clr-icon shape="pencil" class="is-solid"></clr-icon> Actualizar</button>
                                <hr>
                                <button class="action-item" (click)="eliminacion(material)"><clr-icon shape="trash" class="is-solid is-error"></clr-icon> Eliminar</button>
                                <!-- <button class="action-item" (click)="onDetail(lugar._id)">Más detalles</button> -->
                            </clr-dg-action-overflow>
                            <clr-dg-cell class="celda">
                                <img [src]="material.img | imagen:'material'" class="img-rounded cursor" (click)="mostrarModal(material._id)">
                            </clr-dg-cell>
                            <clr-dg-cell>{{material.title}}</clr-dg-cell>
                            <clr-dg-cell *ngIf="!material.asignado"><span class="badge badge-danger"></span>Sin asignar</clr-dg-cell>
                            <clr-dg-cell *ngIf="material.asignado"> <span class="badge badge-info"></span>{{material.lugar.nombre}}</clr-dg-cell>
                            <clr-dg-cell>{{(material.cantidad)}}</clr-dg-cell>
                            <!-- <clr-dg-cell>{{(material.lugar)}}</clr-dg-cell> -->
                            <clr-dg-cell>{{material.updatedAt | date}}</clr-dg-cell>
                        </clr-dg-row>

                        <!-- <clr-dg-footer>{{users.length}} users</clr-dg-footer> -->
                        <clr-dg-footer>
                            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} de {{pagination.totalItems}} materiales
                            <clr-dg-pagination #pagination [clrDgPageSize]="5">
                            </clr-dg-pagination>
                        </clr-dg-footer>
                    </clr-datagrid>

                </div>
            </div>

        </div>
    </div>
</div>

<!-- Modal muestra imagen -->
<clr-modal [(clrModalOpen)]="opened" [clrModalStaticBackdrop]="true">
    <h3 class="modal-title">{{this.titulo}}</h3>
    <div class="modal-body text-center">
        <img [src]="this.imagen | imagen:'material'" class="img-resumen">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="opened = false">
                Salir
            </button>
    </div>
</clr-modal>
<!-- cls -->